{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Maintenance Details</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
    <link rel="icon" type="png" href="{% static 'image/TruckrIcon.png'%}">
  </head>
<body>
	<h2>Maintenance Detail</h2>
<!-- Navigation bar -->
{% if nav %}
<table>  
	<tr>
	{% for item in nav %}
	<th><a href='{{item.url}}'>{{item.text}}</a></th>
	{% endfor %}
	</tr>
</table>
<br>
{% endif %}


	{% for v in maint %}
	Maintenance ID: {{v.vehID}}  <br>
	Vehicle Type: {{v.vehType}} <br>
	Vehicle Description: {{v.year}} - {{v.make}} - {{v.model}} <br> <br>
	Maintenance Performed: {{v.description}} <br>
	Parts List ID: {{v.partsList}} <br>
	Completed: {{v.completed}}


	{% endfor %}
	<br>

	<br>
{% if parts%}
<h3>
Parts List <br>
</h3>
<table style="width:100%">  
       	<tr>    
	       	<th>ID</th>    
		<th>Source</th>
	       	<th>Cost</th>    
	       	<th>On Hand</th>    
	       	<th>Part Name</th>    
		<th>Edit</th>
       	</tr>
	{% for item in parts%}
	<tr>
		<td>{{item.partID}}</td>
		<td>{{item.source}}</td>
		<td>{{item.cost}}</td>
		<td>{{item.onHand}}</td>
		<td>{{item.partName}}</td>
		<td style = text-align:center> <button type="button" onclick="window.location.href='/admin/truckr/partslist/{{item.id}}/change/';">Edit</button></td>
	</tr>
	{% endfor %}
{% else %}
	<p>No parts are available.</p>
{% endif %}
</table>

<br>
<button type="button" onclick="window.location.href='/admin/truckr/partslist/add/';">Add Part</button>

<br>
<br>
<!--
<table style="width:100%">  
       	<tr>    
	       	<th>ID</th>    
		<th>Description</th>
		<th>Completed</th>
		<th>Detail</th>
	</tr>
{% if maint %}

{% for m in maint %}
	<tr>
		<td>{{m.maintID}}</td>
		<td>{{m.description}}</td>
		<td>{{m.completed}}</td>
	</tr>	
{% endfor %}
{% endif %}
</table>
-->
</body>
</html>
