{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Products</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
    <link rel="icon" type="png" href="{% static 'image/TruckrIcon.png'%}">
  </head>
<body>
	<h2>Products</h2>

<!-- Navigation bar -->
{% if nav %}
<table>  
	<tr>
	{% for item in nav %}
	<th><a href='{{item.url}}'>{{item.text}}</a></th>
	{% endfor %}
	</tr>
</table>
<br>
{% endif %}

<table style="width:100%">  
       	<tr>    
	       	<th>ID</th>    
	       	<th>Product Name</th>    
		<th>Price</th>
       	</tr>
{% if plist %}
	{% for product in plist %}
	<tr>
		<!--		<td><a href="/employee/{{employee.employeeID}}/">{{employee.employeeID}} </td>-->
		<td>{{product.productID}}</td>
		<td>{{product.productName}}</td>
		<td>{{product.price}}</td>
		<td style = text-align:center><button type="button" onclick="window.location.href='/employee/{{employee.employeeID}}/';">Edit</button></td>
	</tr>
	{% endfor %}
{% else %}
	<p>No products are available.</p>
{% endif %}
</table>
</body>
</html>
