<html>
	<style> 
	table, th, td {   border:1px solid black; } 	
	</style>
<body>
	<h2>Purchase Order Detail</h2>
<!-- Navigation bar -->
{% if nav %}
<table>  
	<tr>
	{% for item in nav %}
	<th><a href='{{item.url}}'>{{item.text}}</a></th>
	{% endfor %}
	</tr>
</table>
<br>
{% endif %}


	{% for order in po %}
		ID: {{order.purchaseOrderID}} <br>
		Shipping and handling: {{order.costShippingHandling}}	
	{% endfor %}
	<br>

	<br>
<table style="width:100%">  
       	<tr>    
	       	<th>Product</th>    
		<th>Product Name</th>
	       	<th>Quantity</th>    
	       	<th>Price</th>    
	       	<th>Status</th>    
		<th>Edit</th>
       	</tr>
{% if items%}
	{% for item in items%}
	<tr>
		<td>{{item.productID}}</td>
		<td>{{item.productName}}</td>
		<td>{{item.quantity}}</td>
		<td>{{item.price}}</td>
		<td>{{item.status}}</td>
		<td style = text-align:center> <button type="button" onclick="window.location.href='/admin/truckr/orderitem/{{item.productID}}/change/';">Edit</button></td>
	</tr>
	{% endfor %}
{% else %}
	<p>No orders are available.</p>
{% endif %}
</table>
<br>
<button type="button" onclick="window.location.href='/admin/truckr/orderitem/add/';">Add Item</button>
</body>
</html>
