{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Purchase Order Details</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
    <link rel="icon" type="png" href="{% static 'image/TruckrIcon.png'%}">
  </head>
<body>
	<h2>Purchase Order Detail</h2>
<table style="width:100%">  
       	<tr>    
	       	<th>Purchase Order</th>    
	       	<th>Product</th>    
	       	<th>Quantity</th>    
	       	<th>Status</th>    
       	</tr>
{% if items%}
	{% for item in items%}
	<tr>
		<!--		<td><a href="/order/{{order.orderID}}/">{{order.orderID}} </td>-->
		<td>{{item.purchaseOrderID}}</td>
		<td>{{item.productID}}</td>
		<td>{{item.quantity}}</td>
		<td>{{item.status}}</td>
	</tr>
	{% endfor %}
{% else %}
	<p>No orders are available.</p>
{% endif %}
</table>
</body>
</html>
