<html>
	<style> 
	table, th, td {   border:1px solid black; } 	
	</style>
<body>
	<h2>Purchase Orders {{ID}}</h2>
<table style="width:100%">  
       	<tr>    
	       	<th>ID</th>    
	       	<th>Shipping and Handling</th>    
       	</tr>
{% if polist %}
	{% for order in polist %}
	<tr>
		<!--		<td><a href="/order/{{order.orderID}}/">{{order.orderID}} </td>-->
		<td>{{order.purchaseOrderID}}</td>
		<td>{{order.costShippingHandling}}</td>
		<td style = text-align:center><button type="button" onclick="window.location.href='/truckr/purchaseOrders/{{order.purchaseOrderID}}/';">Details</button></td>
	</tr>
	{% endfor %}
{% else %}
	<p>No orders are available.</p>
{% endif %}
</table>
</body>
</html>
